# Allow camera HAL to access sysfs camera nodes
allow hal_camera_default sysfs_camera:dir search;
allow hal_camera_default sysfs_camera:file rw_file_perms;

# virtual (for navigating to /sys/devices/virtual/camera/)
allow hal_camera_default sysfs_virtual:dir search;

# Allow access to exported camera properties
allow hal_camera_default exported_camera_prop:file { read open getattr };

# Allow camera HAL to find graphics mapper
allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;
